body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

  
  .bar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

  }
  
  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    font-size: 24px;
  }


.bar-last {
  display: flex;
  justify-content: end;
  align-items: end;
  color: white;
  height: 80px;

}

.home-bar {
  height: 600px;
  background-image: url('src/home.jpg');
  background-repeat: no-repeat; /* Prevent image repetition */
  background-size: cover; /* Make the image cover the entire div */
  background-position: center; /* Center the image within the div */
  position: relative; /* For positioning the overlay text */
}

